<% include header.ejs %>

<div id="wrapper">

    <% include side_menu.ejs %>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Student Dashboard</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-group" id="accordion">
                    <% for(var i=0; i<classesInfo.length; i++) {%>
                    <div class="panel panel-default">
                        <div class="panel-heading" id="<%= classesInfo[i].classID %>">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse <%= classesInfo[i].classID %>"> <%= classesInfo[i].name %></a>
                            </h4>
                        </div>
                        <div id="collapse<%= classesInfo[i].classID %>" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div id="morris-area-chart<%= classesInfo[i].classID %>"></div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
<script>
    $(document).ready(function () {

        setTimeout(function(){
            var dataSet = <%= classassesmentInfo %>;
            var obj = {};
            <% for(var i=0; i<classesInfo.length; i++) {%>;
            var j = '<%= i%>';
            var subdata = dataSet[j];
            if(obj[subdata.classID]){
                obj[subdata.classID].push(subdata);
            }
            else{
                obj[subdata.classID] = [];
                obj[subdata.classID].push(subdata);
            }
            if(obj[subdata.classID]) {
                $('#morris-area-chart' +  subdata.classID).html('');
                Morris.Area({
                    element: 'morris-area-chart' + subdata.classID,
                    data:obj[subdata.classID],
                    xkey: 'assessmentID',
                    ykeys: ['obtainedMarks'],
                    labels: ['obtainedMarks'],
                    pointSize: 3,
                    hideHover: 'auto',
                    resize: true,
                    parseTime:false,
                    xLabels: 'day',
                    xLabelFormat: function (x) {
                        var xlabel = ['assessmentID'];
                        var labelx = xlabel[ x.toString()];
                        return labelx;
                    }
                });
            }

            <% } %>
        }, 200);

        // Default first accordion open
        $('.panel-group .panel:first').find('.panel-collapse').addClass('in');

        // For each tab accordion open and close on click
        $(".panel-heading").on("click", function () {
            $(".collapse:visible").slideUp();
            if(!$(this).next().is(":visible")){
                $(this).next().slideDown(500);
            }
            window.dispatchEvent(new Event('resize'));

        });
    });
</script>