<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Teacher dashboard</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="css/morris.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">

    <!-- for defining teacher dashboard specific styles-->
    <link href="css/style.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

<div id="wrapper">

    <% include side_menu.ejs %>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Teacher Dashboard</h1>
            </div>
        </div>
        <div class="subHeadings"><p style="font-size: 30px; margin-left: 10px;">Subjects you are incharge of </p></div>
        <% var status = message.toString();
        if(status == 'empty'){%>

        <div class="cardContainer">

            <div class="noRows">
                <i class="fa fa-file" style="font-size:60px;color:lightblue; margin-top: 50px;"></i>
                <p style="font-size:20px;color:lightblue;"> No assessment created yet</p>

            </div>


        </div>

        <%}else if(status == 'available'){subject.forEach(function (subject) {  %>
        <div class="tcard">
            <div class="tcontainer">
                <h4><b><%= subject.name %></b></h4>
                <hr style="border:1px solid #f1f1f1"/>

                <%totalAssess.forEach(function(totalAssess){%>
                <%if(totalAssess.classID == subject.classID){%>
                <p >Total Tests:<%=totalAssess.id%> </p>
                <%}})%>
                <%announcedRes.forEach(function (announcedRes) { %>
                <%if (announcedRes.classID == subject.classID){%>
                <p>Results announced:<%= announcedRes.total%></p>
                <%}})%>
                <%pendingResult.forEach(function (pendingResult) { %>
                <%if(pendingResult.classID == subject.classID){%>
                <p><a href="teacher/assessments" ></a>Pending assessments:<%= pendingResult.pending%></p>
                <%}})%>
            </div>
        </div>
        <%})}%>
        <div  class="resultGraph">
            <div class="subHeadings"><p style="font-size: 30px;margin-left: 10px;"> Assessment Result Statistics</p></div>
            <div style="margin-top: 30px;">
                <% var res = message2.toString();
                var sub = message.toString();


                if(sub == 'empty' || res == 'empty'){%>

                <div class="cardContainer">

                    <div class="noRows">
                        <i class="fa fa-file" style="font-size:60px;color:lightblue; margin-top: 50px;"></i>
                        <p style="font-size:20px;color:lightblue;"> No Results to Display</p>

                    </div>

                </div>

                <% }else if(sub == 'available' && res == 'available'){ subject.forEach(function (subject) {  %>
                <span class="heading" ><%=subject.name%></span>
                <hr style="border:3px solid #f1f1f1">
                <%pass.forEach(function (pass) { %>
                <%fail.forEach(function (fail) { %>
                    <%if(fail.aID == pass.aID && ( fail.cID == subject.classID || pass.cID == subject.classID)){%>
                <div class="row">
                    <div class="side">
                        <div>Name : <%=pass.aName%></div>
                    </div>
                    <div class="middle">
                        <div class="bar-container">
                            <div class="bar-5" title="Max Marks: <%=pass.TotalMarks%>">Passed : <%=pass.passed%></div>
                            <div class="bar-4" title="Min Marks: <%=fail.passMarks%>">Failed : <%=fail.failed%> </div>
                        </div>
                    </div>
                    <div class="side right">
                        <div>Highest Score :<%=pass.maximumScore%>  Lowest Score :<%=fail.minimumScore%> </div>
                    </div>
                </div>
                <%}})})%>
                <hr style="border:1px solid #f1f1f1">
                <%})}%>
            </div>


        </div>
    </div>
</div>


<!-- jQuery -->
<script src="js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="js/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/sb-admin-2.js"></script>


</body>

</html>