<% include ../header.ejs %>
<head>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/metisMenu.min.css" rel="stylesheet">
    <link href="../css/sb-admin-2.css" rel="stylesheet">
    <link href="../css/morris.css" rel="stylesheet">
    <link href="../css/font-awesome.css" rel="stylesheet">
    <!-- scripts -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/metisMenu.min.js"></script>
    <script src="../js/raphael.min.js"></script>
    <script src="../js/morris.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Results</title>

</head>

<body>


<div id="wrapper">
    <% try
    {  var myvar = message.toString();
    if (myvar.toString()=='success'){%>
    <script>swal("Results Posted!","", "success");</script><%}
    else if (myvar.toString()=='failure'){
    %>
    <script> swal("There was some error.","Please try again!", "error");</script><%}
    else if (myvar.toString()=='deadliner'){
    %>
    <script> swal("Nope.","The deadline still hasn't passed", "error");</script><%}
    else if (myvar.toString()=='alreadyd'){
    %>
    <script> swal("Results have already been added.","Don't try again.", "info");</script><%}
    }
    catch(err)
    {

    }
    %>
    <% include ../side_menu.ejs %>

    <div id="page-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="page-header">Long Answer Assessments</h4>
                </div>
            </div>
            <div class="row">
                <div  class="col col-lg-11">
                    <div  class="panel panel-default">
                        <table width="100%" class="table table-striped table-bordered" id="dataTables-example">
                            <thead>
                            <tr>
                                <th style="border:none;padding: 15px;">Assessment</th>
                                <th style="border:none;padding: 15px;">Total Marks</th>
                                <th style="border:none;padding: 15px;">Passing Marks</th>
                                <th style="border:none;padding: 15px;">Deadline</th>
                                <th style="border:none;padding: 15px;" ></th>
                            </tr>
                            </thead>
                            <tbody>
                            <% resultL.forEach((resultL) => { %>
                            <tr style="border-color: transparent">
                                <td style="border:none;padding: 15px;"><%= resultL.Name %></td>
                                <td style="border:none;padding: 15px;"><%= resultL.Total %></td>
                                <td style="border:none;padding: 15px;"><%= resultL.Passing %></td>
                                <td style="border:none;padding: 15px;"><%= resultL.Deadline%>
                                    <% if(resultL.Due.toString() == 'Open'){ %>
                                    <span style="background-color: #3c763d" class="badge badge-success"><%= resultL.Due %></span>
                                    <% } else{ %>
                                    <span style="background-color: #a94442" class="badge badge-danger"><%= resultL.Due %></span>
                                    <% } %> </td>
                                <td style="border:none;padding: 15px;">
                                    <% if(resultL.Due.toString() == 'Open'){ %>
                                    <button disabled onclick="document.location='allsubmissions/<%= resultL.assessmentID %>'" type="button" class="btn btn-success btn-sm">
                                        <span class="fa fa-file fa-fw"></span>
                                    </button>
                                    <% } else{ %>
                                    <button onclick="document.location='allsubmissions/<%= resultL.assessmentID %>'" type="button" class="btn btn-success btn-sm">
                                        <span class="fa fa-file fa-fw"></span>
                                    </button>
                                    <% } %>

                                </td>

                            </tr>
                            <% }) %>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h4 class="page-header">MCQ Assessments</h4>
                </div>
            </div>
            <div class="row">
                <div  class="col col-lg-11">
                    <div  class="panel panel-default">
                        <table width="100%" class="table table-striped table-bordered" id="dataTables-example">
                            <thead>
                            <tr>
                                <th style="border:none;padding: 15px;">Assessment</th>
                                <th style="border:none;padding: 15px;">Total Marks</th>
                                <th style="border:none;padding: 15px;">Passing Marks</th>
                                <th style="border:none;padding: 15px;">Deadline</th>
                                <th style="border:none;padding: 15px;" ></th>
                            </tr>
                            </thead>
                            <tbody>
                            <% resultM.forEach((resultM) => { %>
                            <tr style="border-color: transparent">
                                <td style="border:none;padding: 15px;"><%= resultM.Name %></td>
                                <td style="border:none;padding: 15px;"><%= resultM.Total %></td>
                                <td style="border:none;padding: 15px;"><%= resultM.Passing %></td>
                                <td style="border:none;padding: 15px;"><%= resultM.Deadline%>
                                    <% if(resultM.Due.toString() == 'Open'){ %>
                                    <span style="background-color: #3c763d" class="badge badge-success"><%= resultM.Due %></span>
                                    <% } else{ %>
                                    <span style="background-color: #a94442" class="badge badge-danger"><%= resultM.Due %></span>
                                    <% } %> </td>
                                <td style="border:none;padding: 15px;">
                                    <% if(resultM.Due.toString() == 'Open'){ %>
                                    <button disabled onclick="document.location='submitMCQ/<%= resultM.assessmentID %>'" type="button" class="btn btn-success btn-sm">
                                        <span class="fa fa-refresh fa-fw"></span>
                                    </button>
                                    <% } else{ %>
                                    <button onclick="document.location='submitMCQ/<%= resultM.assessmentID %>'" type="button" class="btn btn-success btn-sm">
                                        <span class="fa fa-refresh fa-fw"></span>
                                    </button>
                                    <% } %>

                                </td>

                            </tr>
                            <% }) %>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h4 class="page-header">True/False Assessments</h4>
                </div>
            </div>
            <div class="row">
                <div  class="col col-lg-11">
                    <div  class="panel panel-default">
                        <table width="100%" class="table table-striped table-bordered" id="dataTables-example">
                            <thead>
                            <tr>
                                <th style="border:none;padding: 15px;">Assessment</th>
                                <th style="border:none;padding: 15px;">Total Marks</th>
                                <th style="border:none;padding: 15px;">Passing Marks</th>
                                <th style="border:none;padding: 15px;">Deadline</th>
                                <th style="border:none;padding: 15px;" ></th>
                            </tr>
                            </thead>
                            <tbody>
                            <% resultTF.forEach((resultTF) => { %>
                            <tr style="border-color: transparent">
                                <td style="border:none;padding: 15px;"><%= resultTF.Name %></td>
                                <td style="border:none;padding: 15px;"><%= resultTF.Total %></td>
                                <td style="border:none;padding: 15px;"><%= resultTF.Passing %></td>
                                <td style="border:none;padding: 15px;"><%= resultTF.Deadline%>
                                    <% if(resultTF.Due.toString() == 'Open'){ %>
                                    <span style="background-color: #3c763d" class="badge badge-success"><%= resultTF.Due %></span>
                                    <% } else{ %>
                                    <span style="background-color: #a94442" class="badge badge-danger"><%= resultTF.Due %></span>
                                    <% } %> </td>
                                <td style="border:none;padding: 15px;">
                                    <% if(resultTF.Due.toString() == 'Open'){ %>
                                    <button disabled onclick="document.location='submitTF/<%= resultTF.assessmentID %>'" type="button" class="btn btn-success btn-sm">
                                        <span class="fa fa-refresh fa-fw"></span>
                                    </button>
                                    <% } else{ %>
                                    <button  onclick="document.location='submitTF/<%= resultTF.assessmentID %>'" type="button" class="btn btn-success btn-sm">
                                        <span class="fa fa-refresh fa-fw"></span>
                                    </button>
                                    <% } %>

                                </td>

                            </tr>
                            <% }) %>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
</body>
</html>