<% include ../header.ejs %>
<head>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/metisMenu.min.css" rel="stylesheet">
    <link href="../css/sb-admin-2.css" rel="stylesheet">
    <link href="../css/morris.css" rel="stylesheet">
    <link href="../css/font-awesome.css" rel="stylesheet">
    <!-- scripts -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/metisMenu.min.js"></script>
    <script src="../js/raphael.min.js"></script>
    <script src="../js/morris.min.js"></script>
</head>

<body>


<div id="wrapper">

    <% include ../side_menu.ejs %>

    <div id="page-wrapper">
        <!--displaying the classes here-->
        <div class="container">
            <table class="table table-striped table-hover table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Class Name</th>
                    <th>Created On</th>
                    <th>Created By</th>
                </tr>
                </thead>
                <tbody>
                <% result.forEach((result) => { %>
                <tr>
                    <td><a href="viewTests/<%= result.classID %>"><%= result.classID %></a></td>
                    <td><%= result.name %></td>
                    <td><%= result.createdOn %></td>
                    <td><%= result.createdBy %></td>
                </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>

</html>