<% include ../header.ejs %>
<head>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/metisMenu.min.css" rel="stylesheet">
    <link href="../css/sb-admin-2.css" rel="stylesheet">
    <link href="../css/morris.css" rel="stylesheet">
    <link href="../css/font-awesome.css" rel="stylesheet">
    <!-- scripts -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/metisMenu.min.js"></script>
    <script src="../js/raphael.min.js"></script>
    <script src="../js/morris.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Results</title>

</head>

<body>


<div id="wrapper">
    <% try
    {  var myvar = message.toString();
    if (myvar.toString()=='success'){%><script>swal("Test Submitted Successfully","Good Luck!", "success");</script><%}
    else{%><script> swal("There was some error.","Please try again!", "error");</script><%}
    }
    catch(err)
    {

    }
    %>
    <% include ../side_menu.ejs %>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Your Assessments</h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col col-lg-11">
                    <div style="margin-left: -11px" class="panel panel-default">
                    <table width="100%" class="table table-striped table-bordered" id="dataTables-example">
                        <thead>
                        <tr>
                            <th style="border:none;padding: 15px;">Assessment</th>
                            <th style="border:none;padding: 15px;">Total Marks</th>
                            <th style="border:none;padding: 15px;">Passing Marks</th>
                            <th style="border:none;padding: 15px;">Deadline</th>
                            <th style="border:none;padding: 15px;" ></th>
                        </tr>
                        </thead>
                        <tbody>
                        <% result.forEach((result) => { %>
                        <tr style="border-color: transparent">
                            <td style="border:none;padding: 15px;"><%= result.Name %></td>
                            <td style="border:none;padding: 15px;"><%= result.Total %></td>
                            <td style="border:none;padding: 15px;"><%= result.Passing %></td>
                            <td style="border:none;padding: 15px;"><%= result.Deadline%>
                                <% if(result.Due.toString() == 'Open'){ %>
                                <span style="background-color: #3c763d" class="badge badge-success"><%= result.Due %></span>
                                <% } else{ %>
                                <span style="background-color: #a94442" class="badge badge-danger"><%= result.Due %></span>
                                <% } %> </td>
                            <td style="border:none;padding: 15px;"><a class="btn btn-success btn-sm" href="givetest/<%= result.id %>">Give Test</a></td>

                        </tr>
                        <% }) %>

                        </tbody>
                    </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>